/tpAGL/nbproject/private/
/JavaLibrary1/nbproject/private/
/JavaLibrary1/build/
/BeatriceRollet_TP_AGL_Test/target/
/Beatrice_Rollet_TP_AGL_TEST_2/nbproject/private/
/Beatrice_Rollet_TP_AGL_TEST_2/build/
/JavaApplication7/nbproject/private/